{% load static %}
{% load render_table from django_tables2 %}
<!doctype html>
<html>
    <head>
        <title>List of CSV files</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap-3.4.1.min.css' %}" >
    </head>
    <body>
        <div class="container">
            <a href="/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Home</a>
            <a href="/download" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Update data</a>
            <h1>List of CSV files</h1>
            <div>
                {% render_table table %}
            </div>
        </div>
    </body>
</html>